<html>
<body>

<h2>Reset Password</h2>

<p>
This email has been sent from ${webapp}. If you've received this mail in error, it's likely that another user entered
your email address by mistake while trying to reset a password. If you didn't initiate the request, you don't need to take any further action and can  
safely disregard this email.
</p>

<p>
You registered with username '${username}'.
To reset your password, simply click on the following link:
<a href="${webapp}/account.htm?method=resetPassword&uid=${uid}&aid=${aid}">${webapp}/account.htm?method=resetPassword&uid=${uid}&aid=${aid}</a>
</p>

<h2>Support</h2>

<p>For questions or concerns about your account,<p/>
<p>
If you paid for commercial use, you are entitled to 3 support tickets within 3 months of your purchase.
Please contact <a href="mailto:support@openremote.com">support@openremote.com</a>, clearly indicating your order number in your e-mail.
</p>

<p>
For users who registered for a free account, please use community support by posting to our <a href="https://groups.google.com/forum/#!forum/openremotecommunity">Google groups</a>.
</p>

<p>OpenRemote</p>

</body>
</html>