<html>
<body>

<h2>Welcome to OpenRemote Designer</h2>

<p>
This email has been sent from ${webapp}. You have received this email because
your email address was used to register with OpenRemote Designer.
</p>

<p>
If you did not register, please disregard this email.
You do not need to unsubscribe or take any further action.
</p>

<h3>Activation Instructions</h3>

<p>
We require that you validate your registration to ensure that the email address you entered was correct.<br>
This protects against unwanted spam and malicious abuse.
</p>

<p>
You registered with username '${user.username}' on '${user.registerTimeAsString}'.<br>
To activate your account, simply click on the following link:
<a href="${webapp}/account.htm?method=activate&uid=${user.oid}&aid=${aid}">${webapp}/account.htm?method=activate&uid=${user.oid}&aid=${aid}</a>
</p>

<p>
A random password has been assigned to your account. Once your account has been validated, please use the "Forgot password?" link to reset your password.
</p>

<h3>Support</h3>

<p>
For questions or concerns about your account, please contact support@openremote.com, clearly indicating your order number in your e-mail.
</p>

<p>
If you paid for commercial use, you are entitled to 3 support tickets within 3 months of your purchase.<br/>
Please contact support@openremote.com, clearly indicating your order number in your e-mail
</p>

<p>
For users who registered for a free account, please use community support by posting to our <a href="https://groups.google.com/forum/#!forum/openremotecommunity">Google groups</a>   
</p>

<p>OpenRemote</p>
</body>
</html>